
.row{
    width: 100%;
    height: auto;
}
.img{
    // position: absolute;
    width: 80px;
    height: 80px;
    background-color: aqua;
}
.h5{
    text-align: right;
}
.date_section{
    text-align: right;
}
u{
        text-decoration: underline;
        text-decoration-color: rgb(205, 201, 201);
      
}

.buttons{
    text-align: center;
}
.buttons button{
    width: 100px;  
}