<div class="row bg-light">
  <div class="col-6 ">
    <div class="img"><img class="img" [src]="user.image" alt="userPic" /></div>
  </div>
  <div class="col-6">
    <p class="h5 mt-4">{{user.id}} - {{user.username}}</p>
  </div>
</div>
<hr>
<div class="date_section">
  <p><i>{{user.updatedAt}}</i></p>
</div>

<div mat-dialog-content>
  <div class="row">
    <!-- User details -->
    <table class="table table-hover">
      <p>User details</p>
      <tr>
        <th>User Name</th>
        <th>Role</th>
        <th>Password</th>
      </tr>
      <tr>
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <td>{{user.password}}</td>
      </tr>
    </table>

    <!-- Personal details -->
    <table class="table table-hover">
      <p>Personal details</p>
      <tr>
        <th>Full Name</th>
        <th>Gender</th>
        <th>Image</th>
        <th>NIC</th>
      </tr>
      <tr>
        <td>{{user.fullname}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.image}}</td>
        <td>{{user.nic}}</td>
      </tr>
    </table>

    <!-- contact details -->
    <table class="table table-hover">
      <p>contact details</p>
      <tr>
        <th>Address</th>
        <th>Contact</th>
        <th>Email</th>
      </tr>
      <tr>
        <td>{{user.address}}</td>
        <td>{{user.contact}}</td>
        <td>{{user.email}}</td>
      </tr>
    </table>

  </div>
</div>
<!-- buttons -->
<div mat-dialog-actions class="buttons row">
  <div class="col-sm-6 ">
    <button mat-raised-button color="warn" (click)="openRemark()" mat-dialog-close>Reject</button>
  </div>
  <div class="col-sm-6 ">
    <button mat-raised-button color="primary" (click)="updateStatus('Accepted')" mat-dialog-close>Accept</button>
  </div>
</div>
