button{
  float:right;
  margin-top: 10px;
  color: blue;
  margin-bottom: 10px;
}
.search{
  margin-top: 8px;
  position: absolute;
  
}
.genrate button{
  position: absolute;
  margin-left: 20%;
}
.table{
  width: 100%;
}