<mat-tab-group animationDuration="0ms">
  <!-- new rules -->
  <mat-tab label="New Rules">
    <app-ad-view-newrules></app-ad-view-newrules>
  </mat-tab>
  <!-- Wanted Criminal -->
  <mat-tab label="Wanted Criminal">
    <app-ad-view-wantedcriminal></app-ad-view-wantedcriminal>
  </mat-tab>
  <!-- Missing Details -->
  <mat-tab label="Missing Details">
    <app-ad-view-missing></app-ad-view-missing>
  </mat-tab>
  <!-- Crime Details -->
  <mat-tab label="Crime Details">
    <app-ad-view-crime></app-ad-view-crime>
  </mat-tab>
  <!-- Crime Area -->
  <mat-tab label="Crime Area">
    <app-ad-view-crimearea></app-ad-view-crimearea>
  </mat-tab>
  <!-- Emergency -->
  <mat-tab label="Emergency">
    <app-ad-view-emergency></app-ad-view-emergency>
  </mat-tab>

</mat-tab-group>
