<mat-tab-group animationDuration="0ms">
  <!-- new rules -->
  <mat-tab label="New Rules">
    <app-ad-create-newrules></app-ad-create-newrules>
  </mat-tab>
  <!-- Wanted Criminal -->
  <mat-tab label="Wanted Criminal">
    <app-ad-create-wantedcriminal></app-ad-create-wantedcriminal>
  </mat-tab>
  <!-- Missing Details -->
  <mat-tab label="Missing Details">
    <app-ad-create-missing></app-ad-create-missing>
  </mat-tab>
  <!-- Crime Details -->
  <mat-tab label="Crime Details">
    <app-ad-create-crime></app-ad-create-crime>
  </mat-tab>
  <!-- Crime Area -->
  <mat-tab label="Crime Area">
    <app-ad-create-crimearea></app-ad-create-crimearea>
  </mat-tab>
  <!-- Emergency -->
  <mat-tab label="Emergency">
    <app-ad-create-emergency></app-ad-create-emergency>
  </mat-tab>

</mat-tab-group>
