
.row{
    height: auto;
    width: 100%;
    padding-top: 30px;

}
.row img{
    margin-top: 0;
    height: 620px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card{
    position: relative;
}
.mat-form-field{
    width: 100%;
    height: auto;
    }
.h3{
    margin-top: 10px; 
    text-align: center;
     font-weight: 600;
        }
h2{
    text-align: center;
    }
.mat-radio-button{
    margin-left: 7%;
    }
   
