<!-- buttons -->
<button mat-raised-button (click)="getByStatus('Rejected')">Rejected</button>
<button mat-raised-button (click)="getByStatus('Accepted')">Accepted</button>
<button mat-raised-button (click)="getByStatus('Pending')">Pending</button>
<button mat-raised-button (click)="getAll()">All</button>

<!-- filter -->
<!-- filter -->
<form [formGroup]="filterGroup" class="mt-2">
  <mat-form-field class="search">
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex. Search" #input [(ngModel)]="searchText" formControlName="searchtText">
  </mat-form-field>

  &nbsp;
  <mat-form-field class="filter-option" style="width: 70px;">
    <mat-label>Criteria</mat-label>
    <mat-select [(ngModel)]="filtered_option" formControlName="criteria">
      <mat-option *ngFor="let item of filter_options" [value]="item.key">
        {{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- filter between -->
  &nbsp;
  <mat-form-field class="from-date" style="width: 100px;">
    <mat-label>From</mat-label>
    <input matInput type="date" [(ngModel)]="from_date" (change)="dateSelected()" formControlName="fromDate">
  </mat-form-field>
  &nbsp;
  <mat-form-field class="from-date" style="width: 100px;">
    <mat-label>To</mat-label>
    <input matInput type="date" [(ngModel)]="to_date" (change)="dateSelected()" formControlName="toDate">
  </mat-form-field>

  <!-- reset button -->
  <a mat-icon-button color="warn" (click)="clearDateBetweenFilter()">
    <mat-icon>cancel</mat-icon>
  </a>

  <!-- generate button -->
  <a mat-mini-fab color="primary" (click)="GenerateReport()">
    <mat-icon>print</mat-icon>
  </a>
</form>



<!-- table -->
<table class="table table-hover mt-2" id="print_mark"
  *ngIf="(complaintData_list | filter: searchText:filtered_option).length > 0; else noResults">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">User ID</th>
      <th scope="col">Date</th>
      <th scope="col">Crime category</th>
      <th scope="col">subject</th>
      <!-- <th scope="col">Description</th> -->
      <th scope="col">Document</th>
      <th scope="col">Location</th>
      <th scope="col">Status</th>

    </tr>
  </thead>
  <tbody *ngFor="let complaints of complaintData_list | filter: searchText:filtered_option; let i=index">
    <tr>
      <th scope="row">{{i+1}}</th>
      <td>{{complaints.id}}</td>
      <td>{{complaints.userId}}</td>
      <td>{{complaints.date}}</td>
      <td>{{complaints.crimeType}}</td>
      <td>{{complaints.subject}}</td>
      <!-- <td>{{complaints.description}}</td> -->
      <td><a href="//{{apiBaseUrl}}{{complaints.document}}" target="_blank">Download</a></td>
      <td>{{complaints.location}}</td>
      <td>{{complaints.status}}</td>
      <td>
        <a matTooltip="view">
          <mat-icon color="primary" (click)="openDialog(complaints.id)">visibility</mat-icon>
        </a>
        <a matTooltip="delete">
          <mat-icon color="warn" (click)="deleteComplaint(complaints.id)">delete</mat-icon>
        </a>

      </td>
    </tr>
  </tbody>
</table>

<!-- if no search data found-->
<ng-template #noResults>
  <div class="noData" style="text-align: center; margin-top: 70px;">
    <p>No results found for "{{searchText}}".</p>
  </div>
</ng-template>
<!-- Paginator -->
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of crimes"></mat-paginator>




