button{
  float:right;
  // margin-top: 10px;
  color: blue;
  margin-bottom: 10px;
}
.search{
  // margin-top: 8px;
  position: absolute;
  
}
.genrate button{
  position: absolute;
  margin-left: 20%;
}

.request button{
  margin-top: 60vh;
  margin-left: 75%;
    position:fixed;
  }
  
  .staffTable {
    margin: 0px auto;
      width: 95%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.589);
    }
  .staffTableTop{
      width: 95%;
  }
