<!-- <button mat-stroked-button color="primary">Rejected</button>
<button mat-stroked-button color="primary">Accepted</button>
<button mat-stroked-button color="primary">Panding</button>
<button mat-stroked-button color="primary">All</button> -->

<!-- buttons -->
<button mat-stroked-button color="primary" (click)="getByStatus('Rejected')">Rejected</button>
<button mat-stroked-button color="primary" (click)="getByStatus('Accepted')">Accepted</button>
<button mat-stroked-button color="primary" (click)="getByStatus('Pending')">Pending</button>
<button mat-stroked-button color="primary" (click)="AllData()">All</button>
<!-- filter -->
<mat-form-field class="search">
  <mat-label>Filter</mat-label>
  <input  matInput (keyup)="filter($event)"placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="genrate">
  <button mat-raised-button (click)="GenerateReport()">
    <mat-icon>print</mat-icon> Generate report
  </button>
</div>

<div class="request">
  <button mat-fab color="primary" (click)="request()">
    <mat-icon matTooltip="Request complaint">add</mat-icon>
  </button>
</div>
<!-- table -->
<div class="container mt-4" >

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 staffTable" id="print_mark">

  <ng-container matColumnDef="updatedAt">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.updatedAt}} </td>
  </ng-container>

  <ng-container matColumnDef="crimeType">
    <th mat-header-cell *matHeaderCellDef> crimeType </th>
    <td mat-cell *matCellDef="let element"> {{element.crimeType}} </td>
  </ng-container>

  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef> subject </th>
    <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
  </ng-container>

  <ng-container matColumnDef="document">
    <th mat-header-cell *matHeaderCellDef> document </th>
    <td mat-cell *matCellDef="let element"> {{element.document}} </td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> location </th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">

      <a matTooltip="View">
        <mat-icon color="dark" (click)="viewUser(element.id)">visibility</mat-icon>
      </a>
      <a  matTooltip="Edit">
        <mat-icon color="primary"  (click)="onEdit(element)">edit</mat-icon>
      </a>

      <a  matTooltip="Delete">
        <mat-icon color="warn" (click)="onDelete(element)">delete</mat-icon>
      </a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"
  class="staffTable">

</mat-paginator>

</div>

  

  