<mat-card>
  <!-- card title -->
  <mat-card-title>Missed Details </mat-card-title>
  <!-- card content    -->
  <mat-card-content>
    <div class="row">
      <div class="col-6">
        <form [formGroup]="missingForm">

           <!-- auto admin id -->
           <mat-form-field appearance="outline" class="d-none">
            <mat-label>Admin ID</mat-label>
            <input matInput formControlName="adminid">
          </mat-form-field>

          <!-- category -->
          <mat-form-field appearance="outline" >
            <mat-label>category</mat-label>
            <mat-select formControlName="category" #categ>
              <mat-option value="Vehicle">Vehicle</mat-option>
              <mat-option value="Gold">Gold</mat-option>
              <mat-option value="Animal">Animal</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
            <mat-error *ngIf="missingForm.get('category')?.hasError('required')">
              Crime category required
            </mat-error>
          </mat-form-field>

          <!-- date and time picker-->
          <mat-form-field appearance="outline" style="margin-left: 4%;">
            <mat-label>Missed date</mat-label>
            <input matInput type="date"  formControlName="date" #mdate>
            <mat-error *ngIf="missingForm.get('date')?.hasError('required')">
              Date required
            </mat-error>
          </mat-form-field>

          <!-- title -->
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Title</mat-label>
            <input matInput type="text"  maxlength="50" formControlName="title" #title placeholder="Title of the Missed one">
            <mat-hint align="end">{{title.value.length}}/50</mat-hint>
            <mat-error *ngIf="missingForm.get('title')?.hasError('required')">
              Title required
            </mat-error>
            <mat-error *ngIf="missingForm.get('title')?.hasError('minlength')">
              must be at least 6 character long
            </mat-error>
          </mat-form-field>
           <!-- Description -->
           <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Description</mat-label>
            <textarea matInput  maxlength="250" type="text" formControlName="description" #desc placeholder="Enter some more information, regarding to the title."></textarea>
            <mat-error *ngIf="missingForm.get('description')?.hasError('required')">
              Description required
            </mat-error>
            <mat-hint align="end">{{desc.value.length}}/250</mat-hint>
            <mat-error *ngIf="missingForm.get('description')?.hasError('minlength')">
              must be at least 20 character
            </mat-error>
          </mat-form-field>

          <!-- Identification -->
          <mat-form-field appearance="outline">
            <mat-label>Identification</mat-label>
            <input matInput formControlName="identification" #identity placeholder="How to Identify?">
            <mat-error *ngIf="missingForm.get('identification')?.hasError('required')">
              Identification required
            </mat-error>
            <mat-error *ngIf="missingForm.get('identification')?.hasError('maxlength')">
              maximum 20 character
            </mat-error>
          </mat-form-field>

          <!-- Location -->
          <mat-form-field appearance="outline" style="margin-left: 4%;">
            <mat-label>Location</mat-label>
            <input matInput type="text"  maxlength="50" formControlName="location" #location placeholder="The missed place">
            <mat-hint align="end">{{location.value.length}}/50</mat-hint>
            <mat-error *ngIf="missingForm.get('location')?.hasError('required')">
              Location required
            </mat-error>
            <mat-error *ngIf="missingForm.get('location')?.hasError('minlength')">
              must be at least 10 character long
            </mat-error>
          </mat-form-field>

         

        </form>
      </div>
      <!-- card -->
      <div class="col-6">

        <mat-card class="card">
          <mat-card-title class="header">
            <img src=".\assets\create-logo.png" alt="logo"
              style="width: 50px; height: 50px; margin-left: 0%; position: absolute;">
            <p class="h5">{{categ.value}}</p>
          </mat-card-title>
          <p style="text-align: right;">Admin - {{user.userId}}</p>

          <hr>
          
          <p>Missed date : {{mdate.value}}</p>
          <h4> <u>{{title.value}}</u> </h4>
        
          <mat-card-content>
            {{desc.value}}

            <table class="table table-hover">
              <tr>
                <th>Identification</th>
                <th>Location</th>
              </tr>

              <tr>
                <td>{{identity.value}}</td>
                <td>{{location.value}}</td>
              </tr>
              
            </table>

          </mat-card-content>
          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="buttons row">
      <div class="col-sm-6 ">
        <button mat-raised-button color="warn" #cancel>Cancel</button>
      </div>
      <div class="col-sm-6 ">
        <button mat-raised-button color="primary" class="submit" (click)="createMissed()">Create</button>
      </div>
    </div>

  </mat-card-actions>

</mat-card>
