
.container{
    justify-content: center;
    padding: 10px;
}

// .mat-card{ 
//     background-color: rgb(0, 255, 157);
//     margin-top: 60px;
// }

// new
mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
    
}

.content > mat-card {
    margin-bottom: 16px;
   
}
.left-section {
    overflow: hidden;
}


.right-section{
    overflow: hidden;

}
// .h4{
//     font-weight: 500;
// }

