// card
.mat-card{
    height: auto;
    width:100%;
}
.header{
    width: 100%;
    height: 40px;
   padding-bottom: 10px;
}
.h6{
    text-align: right;
}
.ad_id{
    text-align: right;
}
u{
    text-decoration: underline;
    text-decoration-color: rgb(205, 201, 201);     
}

