  
<div  class="header">      
  <img src=".\assets\create-logo.png" alt="logo"
    style="width: 50px; height: 50px; margin-left: 0%; position: absolute;">
  <p class="h6">{{areas.date}}</p>
  <p class="ad_id"><i>Admin : {{areas.adminid}}</i></p>
  
</div>
<hr>
  <div mat-dialog-content>
    <div class="row">
      <p class="h6 col-11"></p>
      <p class="box col-1" style="text-align: right;">{{areas.image}}</p>

      <!-- Criminal details -->
      <table class="table table-hover">
        <tr>
          <th>ID </th>
          <th>Category </th>
          <th>Title </th>
          <th >Description </th>
          <th>Location </th>
          <th>Date of start </th>
          <th>Date of end </th>
        </tr>
        <tr>
          <td>{{areas.id}}</td>
          <td>{{areas.category}}</td>
          <td>{{areas.title}}</td>
          <td>{{areas.description}}</td>
          <td>{{areas.location}}</td>
          <td>{{areas.start_date_time}}</td>
          <td>{{areas.end_date_time}}</td>
         
        </tr>
      </table>
    </div>
  </div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

