<!-- buttons -->
<div class="button">
  <button mat-raised-button color="primary" (click)="GenerateReport()"><mat-icon>print</mat-icon> Generate report</button> 
</div>

<!-- filter -->
<mat-form-field class="search">
  <mat-label>Filter</mat-label>
  <input matInput placeholder="Ex. Search" #input [(ngModel)]="searchText">
</mat-form-field> &nbsp;

<mat-form-field class="filter-option" style="width: 70px;" >
  <mat-label>Criteria</mat-label>
  <mat-select [(ngModel)]="filtered_option">
    <mat-option *ngFor="let item of filter_options" [value]="item.key">
      {{item.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<!-- table -->
<table class="table table-hover " id="print_mark" *ngIf="(rules | filter: searchText:filtered_option).length > 0; else noResults">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <!-- <th scope="col">Crime ID</th> -->
      <th scope="col">Date</th>
      <th scope="col">Crime category</th>
      <th scope="col">Title</th>
      <!-- <th scope="col">Description</th> -->
      <th scope="col">Document</th>
      <th scope="col">Law of crime</th>
    </tr>
  </thead>
  <tbody *ngFor="let rule of rules | filter: searchText:filtered_option ;let i=index">
    <tr>
      <th scope="row">{{i+1}}</th>
      <td>{{rule.id}}</td>
      <td>{{rule.date}}</td>
      <td>{{rule.category}}</td>
      <td>{{rule.title}}</td>
      <!-- <td>{{rule.description}}</td> -->
      <td><a href="//{{apiBaseUrl}}{{rule.documentUrl}}" target="_blank">Show</a></td>
      <td>{{rule.action}}</td>
      
      <td>
        <a matTooltip="View">
          <mat-icon color="primary" (click)="view(rule.id)">visibility</mat-icon>
        </a>
        <a matTooltip="Edit" *ngIf="logged_user_role=='admin'">
          <mat-icon class="material-icons-outlined" (click)="edit(rule.id)">
            edit
          </mat-icon>
        </a>
        <a matTooltip="Delete">
          <mat-icon color="warn" (click)="deleteRule(rule.id)">delete</mat-icon>
        </a>

        <a matTooltip="Print" *ngIf="(logged_user_role=='public'||logged_user_role=='police')">
          <mat-icon>print</mat-icon>
        </a>

      </td>
    </tr>
  </tbody>
</table>
<!-- if no search data found-->
<ng-template #noResults>
  <div class="noData" style="text-align: center; margin-top: 70px;">
    <p>No results found for "{{searchText}}".</p>
  </div>
</ng-template>
<!-- Paginator -->
<mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" showFirstLastButtons aria-label="Select page of crimes">
</mat-paginator>
