.mat-sidenav-container{
    height: 100%;
}
.mat-sidenav{
    width: 250px;
    padding: 10px;
    color: white;
    background-color: rgb(13, 49, 49);
}

.navbar{
    padding: 10px;
    margin-left: 8%;
    margin-top: 20px;   
}
.profile img{
    border-radius: 50%;
}
.mat-nav-list{
    padding: 0;   
    display: flex;
    
}
.mat-list-item {   
    font-size: 18px;   
    color: white;
}

.tool-section{
    margin-left: auto;

}
.active{
    color: rgb(240, 240, 27);
}