.mat-sidenav-container{
    height: 100%;
}
.mat-sidenav{
    width: 250px;
    // padding: 10px;
    color: white;
    background-color: rgb(13, 49, 49);
}

.profile-menu img{
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
}
.mat-menu-item{
    width: 150px;
    margin-right: 20px;
}

.navbar{
    margin-left: 8%;
    margin-top: 10px;   
}
.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.mat-nav-list{
    padding: 0;   
    display: flex;
    
}
.mat-list-item {   
    font-size: 18px;   
    color: white;
}
.toptoolbar{
    width: 100%;
    height: auto;
    padding: 10px;
}
.tool-section{
    margin-left: auto;

}
.active{
    color: rgb(240, 240, 27);
}