<mat-sidenav-container>
  <!-- navbar -->
  <mat-sidenav #sidenav mode="side" opened>
    <!-- logo -->
    <div class="logo" style="text-align: center;">
      <p class="h3 mt-2" style="color: darkgoldenrod;"><img src="assets\logo.png" alt="LOGO"
          style="height: 30px; width: 30px;" /> &nbsp; CRIMECON</p>
    </div>
    <mat-divider></mat-divider>
    <div class="profile" style="text-align: center;">
      <!-- profile section -->
      <br>
      <a href="#" style="text-decoration: none; color: white;"> <img src="assets\user.jpg" alt="LOGO" /><br>
        {{user.username}}</a>
    </div>

    <!-- navbar -->
    <mat-list class="navbar">
      <mat-nav-list>
        <a href="#" mat-list-item routerLink="dashboard" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>&nbsp; Dashboard
        </a>
      </mat-nav-list>

      <mat-nav-list *ngIf="isAdmin">
        <a href="#" mat-list-item routerLink="create-records" routerLinkActive="active">
          <mat-icon>note_add</mat-icon> &nbsp; Create Records
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a href="#" mat-list-item routerLink="view-records" routerLinkActive="active">
          <mat-icon>preview</mat-icon> &nbsp; View Records
        </a>
      </mat-nav-list>

      <mat-nav-list *ngIf="isAdmin">
        <a href="#" mat-list-item routerLink="complaints" routerLinkActive="active">
          <mat-icon>text_snippet</mat-icon>&nbsp; Complaints
        </a>
      </mat-nav-list>

      <mat-nav-list *ngIf="isAdmin || isPolice">
        <a href="#" mat-list-item routerLink="reports" routerLinkActive="active">
          <mat-icon>verified</mat-icon> &nbsp; Reports
        </a>
      </mat-nav-list>

      <mat-nav-list *ngIf="isAdmin">
        <a href="#" mat-list-item routerLink="user-verify" routerLinkActive="active">
          <mat-icon>accessibility_new</mat-icon>&nbsp; User Verify
        </a>
      </mat-nav-list>

      <mat-nav-list *ngIf="isPublic">
        <a href="#" mat-list-item routerLink="view-complaint" routerLinkActive="active">
          <mat-icon>text_snippet</mat-icon>&nbsp; Complaints
        </a>
      </mat-nav-list>
    </mat-list>
  </mat-sidenav>

  <!-- content -->
  <mat-sidenav-content>
    <!-- toggle -->
    <button mat-icon-button (click)="sidenav.toggle()" color="primary" style="position: absolute;">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="profile-menu" style="text-align: right; margin-top: 0;">
      <button mat-button [matMenuTriggerFor]="menu"> <img src="assets\user.jpg" alt="LOGO" /> {{user.username}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="myprofile()">
          <mat-icon class="material-icons-round">
            perm_identity
          </mat-icon>My Profile
        </button>
        <button mat-menu-item>
          <mat-icon class="material-icons-round">
            chat_bubble_outline
          </mat-icon>Chats
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="singOut()">
          <mat-icon class="material-icons-round">
            power_settings_new
          </mat-icon>Signout
        </button>
      </mat-menu>
    </div>
    <!-- toolbar -->
    <mat-toolbar color="primary" class="toptoolbar">
      <span>Welcome {{ user.fullname }}</span>

      <!-- tools -->
      <div class="tool-section">
        <!-- notifications -->
        <button mat-icon-button class="notification material-icons-round">
          <mat-icon matBadge="15" matBadgeColor="warn"> notifications_none </mat-icon>
        </button>
        <!-- signout -->
        <button mat-icon-button class="logout">
          <mat-icon (click)="singOut()" #logout>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <!-- main content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>