<div class="container" id="contentToConvert">
<div  class="header">      
  <img src=".\assets\create-logo.png" alt="logo"
    style="width: 50px; height: 50px; margin-left: 0%; position: absolute;">
  <p class="h6"> Crime <br><i>Admin : {{crimes.adminid}}</i> <br>{{crimes.updatedAt}}</p>
  
</div>
<hr>
  <div mat-dialog-content>
    <div class="row">
      <p class="h6 col-11"></p>
      <p class="box col-1" style="text-align: right;">{{crimes.image}}</p>

      <!-- Criminal details -->
      <table class="table table-hover">
        <tr>
          <th>Category: </th>
          <th>Title: </th>
          <th>Description </th>
          <th>lawOfCrime </th>
        </tr>
        <tr>
          <td>{{crimes.category}}</td>
          <td>{{crimes.title}}</td>
          <td>{{crimes.description}}</td>
          <td>{{crimes.lawOfCrime}}</td>
         
        </tr>
      </table>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="col-sm-6" style="text-align: left;">
    <button mat-raised-button color="warn" mat-dialog-close style="width: 50%;">Close</button>
  </div>
  <div class="col-sm-6" style="text-align: right;" >
    <button mat-raised-button color="primary" style="width: 50%;" (click)="generatePDF()">Get Report</button>
  </div>
</div>


  