<!-- component content -->

<!-- <div class="container ">
  <div class="row "> -->

<!-- rules -->
<!-- <div class="col-md-4 col-sm-6 ">
      <mat-card>
        <mat-card-title>Rules</mat-card-title>
        <mat-card-content>
          <h4>Total rules :</h4>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div> -->

<!-- Wanted Criminal -->
<!-- <div class="col-md-4 col-sm-6">
      <mat-card>
        <mat-card-title>Wanted Criminal</mat-card-title>
        <mat-card-content>
          <h4>Total Wanted Criminal :</h4>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div> -->

<!-- Missing Details -->
<!-- <div class="col-md-4 col-sm-6">
      <mat-card>
        <mat-card-title>Missing Details</mat-card-title>
        <mat-card-content>
          <h4>Total Missing Details :</h4>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div> -->

<!-- Crime Details -->
<!-- <div class="col-md-4 col-sm-6 ">
      <mat-card>
        <mat-card-title>Crime Details</mat-card-title>
        <mat-card-content>
          <h4>Total Crime Details :</h4>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div> -->

<!-- Crime Areas -->
<!-- <div class="col-md-4 col-sm-6">
      <mat-card>
        <mat-card-title>Crime Areas</mat-card-title>
        <mat-card-content>
          <h4>Total Crime Areas :</h4>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div> -->


<!-- Emergency Alerts -->
<!-- <div class="col-md-4 col-sm-6">
      <mat-card>
        <mat-card-title>Emergency Alerts</mat-card-title>
        <mat-card-content>
          <h4>Total Emergency Alerts :</h4>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>
  </div>
</div> -->

<!-- new -->

<div style="text-align: right;">
  <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
    <span *ngIf="gridColumns === 4">3 Columns</span>
    <span *ngIf="gridColumns === 3">4 Columns</span>
  </button>
</div>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let num of [1,2,3,4,5,6]">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title *ngIf="num==1">Rules </mat-card-title>
          <mat-card-title *ngIf="num==2">Wanted Criminal </mat-card-title>
          <mat-card-title *ngIf="num==3">Missed Details </mat-card-title>
          <mat-card-title *ngIf="num==4">Crime </mat-card-title>
          <mat-card-title *ngIf="num==5">Crime Area </mat-card-title>
          <mat-card-title *ngIf="num==6">Emergency Alert </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- card -->
          <div class="row">
            <tr>
              <!-- icon -->
              <div class="left-section">
                <!-- rules -->
                <div class="icon" *ngIf="num==1">
                  <i class="fa fa-podcast text-primary fa-4x"></i>
                </div>
                <!-- Wanted Criminal -->
                <div class="icon" *ngIf="num==2">
                  <i class="fa fa-user-secret text-secondary fa-4x"></i>
                </div>
                <!-- Missing Details -->
                <div class="icon" *ngIf="num==3">
                  <i class="fa fa-search-minus text-info fa-4x"></i>
                </div>
                <!-- Crime Details -->
                <div class="icon" *ngIf="num==4">
                  <i class="fa fa-fire text-warning fa-4x"></i>
                </div>
                <!-- Crime Areas -->
                <div class="icon" *ngIf="num==5">
                  <i class="fa fa-ban text-danger fa-4x"></i>
                </div>
                <!-- Emergency Alerts -->
                <div class="icon" *ngIf="num==6">
                  <i class="fa fa-bell text-success fa-4x"></i>
                </div>

              </div>
              <!-- total -->
              <div class="right-section">
                <!-- rules -->
                <p class="h4" *ngIf="num==1">Total : {{this.counts.rules[0].count}}</p>
                <!-- Wanted Criminal -->
                <p class="h4" *ngIf="num==2">Total : {{this.counts.criminals[0].count}}</p>
                <!-- Missing Details -->
                <p class="h4" *ngIf="num==3">Total : {{this.counts.misseds[0].count}}</p>
                <!-- Crime Details -->
                <p class="h4" *ngIf="num==4">Total : {{this.counts.crimes[0].count}}</p>
                <!-- Crime Areas -->
                <p class="h4" *ngIf="num==5">Total : {{this.counts.crimeareas[0].count}}</p>
                <!-- Emergency Alerts -->
                <p class="h4" *ngIf="num==6">Total : {{this.counts.emergencies[0].count}}</p>

              </div>
            </tr>
          </div>
        </mat-card-content>
        <mat-card-actions>

          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

    <!-- crimesChart  -->
    <div class="crimesChart w-100 mt-4">

      <canvas id="chart_canvas_1"></canvas>
    </div>
  
  <!-- complaintsChart -->
  <div class="complaintsChart w-100 mt-4">
    <!-- year -->
    <mat-form-field appearance="outline">
      <mat-label>Year</mat-label>
      <mat-select [(ngModel)]="selectedYear" (selectionChange)="ComplaintYear()">
        <mat-option *ngFor="let year of years" [value]="year.year">
          {{year.year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- month -->
    <mat-form-field appearance="outline">
      <mat-label>Month</mat-label>
      <mat-select (selectionChange)="ComplaintMonth()" [(ngModel)]="selectedMonthId">
        <mat-option *ngFor="let month of months" [value]="month.id">
          {{month.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <!-- chart -->
  <canvas id="chart_canvas_2"></canvas>
</div>

<!-- UsersChart -->
<div class="usersChart w-100 mt-4">
  <!-- year -->
  <mat-form-field appearance="outline">
    <mat-label>Year</mat-label>
    <mat-select [(ngModel)]="selectedYear_Usr" (selectionChange)="userYear()">
      <mat-option *ngFor="let year of years" [value]="year.year">
        {{year.year}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- month -->
  <mat-form-field appearance="outline">
    <mat-label>Month</mat-label>
    <mat-select (selectionChange)="userMonth()" [(ngModel)]="selectedMonthId_Usr">
      <mat-option *ngFor="let month of months" [value]="month.id">
        {{month.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <!-- chart -->
  <canvas id="chart_canvas_3"></canvas>
</div>


<!-- new1 -->
<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
      <p label="New Users" total="12k" percentage="50" ></p>
  </mat-card>
  <mat-card fxFlex="25">
      <p label="Users retention" total="10k" percentage="40" ></p>
  </mat-card>
  <mat-card fxFlex="25">
      <p label="Users engagement" total="8k" percentage="30" ></p>
  </mat-card>
  <mat-card fxFlex="25">
      <p label="Referral" total="6k" percentage="20" ></p>
  </mat-card>
</div> -->