<!-- component content -->

<div class="container ">
  <div class="row ">

    <!-- rules -->
    <div class="col-md-4 col-sm-6 ">
      <mat-card>
        <mat-card-title>Rules</mat-card-title>
        <mat-card-content>
          <h4>Total rules :</h4>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>

    <!-- Wanted Criminal -->
    <div class="col-md-4 col-sm-6">
      <mat-card>
        <mat-card-title>Wanted Criminal</mat-card-title>
        <mat-card-content>
          <h4>Total Wanted Criminal :</h4>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>

    <!-- Missing Details -->
    <div class="col-md-4 col-sm-6">
      <mat-card>
        <mat-card-title>Missing Details</mat-card-title>
        <mat-card-content>
          <h4>Total Missing Details :</h4>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>

    <!-- Crime Details -->
    <div class="col-md-4 col-sm-6 ">
      <mat-card>
        <mat-card-title>Crime Details</mat-card-title>
        <mat-card-content>
          <h4>Total Crime Details :</h4>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>

    <!-- Crime Areas -->
    <div class="col-md-4 col-sm-6">
      <mat-card>
        <mat-card-title>Crime Areas</mat-card-title>
        <mat-card-content>
          <h4>Total Crime Areas :</h4>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>


    <!-- Emergency Alerts -->
    <div class="col-md-4 col-sm-6">
      <mat-card>
        <mat-card-title>Emergency Alerts</mat-card-title>
        <mat-card-content>
          <h4>Total Emergency Alerts :</h4>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
