
.container{
    justify-content: center;
    padding: 10px;
}

// .mat-card{ 
//     background-color: rgb(0, 255, 157);
//     margin-top: 60px;
// }

// new
mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
   
}
.left-section {
    margin-left: 0;
    position: absolute;
}
.icon{
    opacity: 0.4;
    // position: absolute;
}

.right-section{
    text-align: right;
}
.h4{
    font-weight: 500;
}
// .complaintsChart .mat-form-field{
//     border-top: 0;
//     padding: 0px;
//     width: 200px;
// }

