<!-- buttons -->
<div class="button">
    <button mat-raised-button color="primary"  (click)="GenerateReport()"><mat-icon>print</mat-icon> Generate report</button> 
</div>


<!-- filter -->
<form [formGroup]="filterGroup" class="mt-2" >
  <mat-form-field class="search">
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex. Search" #input [(ngModel)]="searchText" formControlName="searchtText">
  </mat-form-field>
  
  &nbsp;
  <mat-form-field class="filter-option" style="width: 70px;" >
    <mat-label>Criteria</mat-label>
    <mat-select [(ngModel)]="filtered_option" formControlName="criteria">
      <mat-option *ngFor="let item of filter_options" [value]="item.key" >
        {{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <!-- filter between -->
  &nbsp;
  <mat-form-field class="from-date" style="width: 100px;" >
  <mat-label>From</mat-label>
  <input matInput type="date" [(ngModel)]="from_date" (change)="dateSelected()" formControlName="fromDate" >
  </mat-form-field>
  &nbsp;
  <mat-form-field class="from-date" style="width: 100px;" >
    <mat-label>To</mat-label>
    <input matInput type="date"  [(ngModel)]="to_date" (change)="dateSelected()" formControlName="toDate">
    </mat-form-field>
    
    <a mat-icon-button color="warn" (click)="clearDateBetweenFilter()"><mat-icon>cancel</mat-icon> </a> 
  </form>

<!-- table -->
<table class="table table-hover " id="print_mark" *ngIf="(criminals_data | filter: searchText:filtered_option).length > 0; else noResults">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Crime ID</th>
      <th scope="col">Admin ID</th>
      <th scope="col">Crime Type</th>
      <th scope="col">Full Name</th>
      <th scope="col">Date</th>
      <th scope="col">DOB</th>
      <th scope="col">NIC</th>
      <th scope="col">Gender</th>
      <th scope="col">Permanent Address</th>
      <th scope="col">Current Address</th>
      <th scope="col">Image</th>

    </tr>
  </thead>
  <tbody *ngFor="let criminal of criminals_data | filter: searchText:filtered_option; let i=index">
    <tr>
      <th scope="row">{{i+1}}</th>
      <td>{{criminal.id}}</td>
      <td>{{criminal.crimeid}}</td>
      <td>{{criminal.adminid}}</td>
      <td>{{criminal.category}}</td>
      <td>{{criminal.fullname}}</td>
      <td>{{criminal.date}}</td>
      <td>{{criminal.dob}}</td>
      <td>{{criminal.nic}}</td>
      <td>{{criminal.gender}}</td>
      <td>{{criminal.pAddress}}</td>
      <td>{{criminal.cAddress}}</td>
      <td><a href="//{{apiBaseUrl}}{{criminal.image}}" target="_blank">Show</a></td>
      

      <td>
        <a matTooltip="View">
          <mat-icon color="primary" (click)="openDialog(criminal.id)">visibility</mat-icon>
        </a>
        <a matTooltip="Edit" *ngIf="logged_user_role=='admin'">
          <mat-icon class="material-icons-outlined" (click)="edit(criminal.id)">
            edit
          </mat-icon>
        </a>
        <a matTooltip="Delete">
          <mat-icon color="warn" (click)="deleteCriminal(criminal.id)">delete</mat-icon>
        </a>
        <!-- <a matTooltip="Print" *ngIf="(logged_user_role=='public'||logged_user_role=='police')">
          <mat-icon>print</mat-icon>
        </a> -->
      </td>
    </tr>
  </tbody>
</table>
<!-- if no search data found-->
<ng-template #noResults>
  <div class="noData" style="text-align: center; margin-top: 70px;">
    <p>No results found for "{{searchText}}".</p>
  </div>
</ng-template>
<!-- Paginator -->
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of crimes"></mat-paginator>
