.mat-dialog-title{
    height: 50px;
    width: 100%;
    padding: 10px;
}

.row{
    padding: 10px;
    margin: 0;
    width: 100%;
}
.mat-form-field{
    width: 100%;
}

.mat-radio-button{
       margin-left: 7%;
}
.buttons{
    text-align: center;
    
    
}
.buttons button{
    width: 100px;
  
    
}
