.row{
    padding: 10px;
    margin: 0;
}
.mat-form-field{
    width: 48%;
}
.mat-radio-group{
    margin-left: 20px;
}
.mat-radio-button{
    margin-left: 10px;
}
.buttons{
    text-align: center;
}
.buttons button{
    width: 100px;  
}
