.row{
    padding: 10px;
    margin: 0;
}
.mat-form-field{
    width: 48%;
}
.mat-radio-button{
       margin-left: 7%;
}
.buttons{
    justify-content: flex-end;
    position: absolute;
    
}
.buttons button{
    width: 100px; 
}

