<h1 mat-dialog-title>Edit Crime</h1>
<div mat-dialog-content>

  <div class="row">
    <form [formGroup]="addcrime">
      <!-- auto admin id -->
      <mat-form-field appearance="outline">
        <mat-label>Admin ID</mat-label>
        <input matInput tyep="text" formControlName="adminid">
      </mat-form-field>

      <!-- category -->
      <mat-form-field appearance="outline" style="margin-left: 4%;">
        <mat-label>Crime category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="Theft">Theft</mat-option>
          <mat-option value="Murder Attempt">Murder Attempt</mat-option>
          <mat-option value="Criminal Attempt">Criminal Attempt, Conspiracy, and Aiding and Abetting.</mat-option>
          <!--helping to crime -->
          <mat-option value="Drugs">Drugs</mat-option>
          <mat-option value="Sexual attack">Sexual attack</mat-option>
          <mat-option value="Violent">Violent</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
        <mat-error *ngIf="addcrime.get('category')?.hasError('required')">
          Crime category required
        </mat-error>
      </mat-form-field>

      <!-- title -->
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Title</mat-label>
        <input matInput type="text" #title maxlength="50" formControlName="title">
        <mat-hint align="end">{{title.value.length}}/50</mat-hint>
        <mat-error *ngIf="addcrime.get('title')?.hasError('required')">
          Title required
        </mat-error>
        <mat-error *ngIf="addcrime.get('title')?.hasError('minlength')">
          must be at least 6 character long
        </mat-error>
      </mat-form-field>

      <!-- description -->
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput #desc maxlength="250" type="text" formControlName="description"></textarea>
        <mat-error *ngIf="addcrime.get('description')?.hasError('required')">
          Description required
        </mat-error>
        <mat-hint align="end">{{desc.value.length}}/250</mat-hint>
        <mat-error *ngIf="addcrime.get('description')?.hasError('minlength')">
          must be at least 20 character
        </mat-error>
      </mat-form-field>

      <!-- action -->
      <mat-form-field appearance="outline" style="margin-left: 4%;">
        <mat-label>Law of Crime</mat-label>
        <textarea matInput #law maxlength="250" type="text" formControlName="lawOfCrime"></textarea>
        <mat-hint align="end">{{law.value.length}}/250</mat-hint>
        <mat-error *ngIf="addcrime.get('lawOfCrime')?.hasError('required')">
          lawOfCrime required
        </mat-error>
        <mat-error *ngIf="addcrime.get('lawOfCrime')?.hasError('minlength')">
          must be at least 10 character
        </mat-error>
      </mat-form-field>
    </form>

  </div>
</div>

<!-- buttons -->
<div mat-dialog-actions>
  <div class="buttons row">
    <div class="col-sm-6 ml-4">
      <button mat-raised-button color="warn" #cancel mat-dialog-close>Cancel</button>
    </div>
    <div class="col-sm-6 ">
      <button mat-raised-button color="primary" (click)="updateCrime()" #add>Update</button>
    </div>
  </div>
</div>
