<h1 mat-dialog-title>Remarks</h1>
<div mat-dialog-content>

  <p>Rejection Remarks : <textarea matInput type="text" formControlName="rejectRemark"></textarea></p>

  <!-- User destiniation -->
  <!-- <p>Dear User ID</p>

  <p>Your Complaint has been rejected by Admin ID.</p>

  <p>Complaint ID : </p>
  <p>Crime category : </p>
  <p>Submitted on : </p>
  <p>Rejection Remarks : </p> -->

</div>
<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close color="warn">No Thanks!</button>
  <button mat-stroked-button color="primary" (click)="submit()" mat-dialog-close>Submit</button>
</div>
